<div>
    {{#each article}}
      <div class="card">
        <div class = "card-body">
            <a href="{{this.link}}" class="card-title" target="_blank"><h4>{{this.title}}</h4></a>
            <p>{{this.summary}}</p>
            <form method="POST" action="/saved/{{this._id}}?_method=PUT">
                <button type="submit" class="btn btn-outline-info" id="SaveArticle">Save</button>
            </form>
        </div>
      </div>
    {{/each}}
  </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
